<div class="list">
  <div style="text-align:center">
      <h2>Todo list:</h2>
  </div>

  <ul>
      <li *ngFor="let toDo of existingTodoList(true)" [class.done]="toDo.isDone" (click)="goTotodo(toDo)">
          {{toDo.target}}
      </li>
  </ul>

  <form [formGroup]="todoForm" (ngSubmit)="submitForm()">
      <input placeholder="What to do?" formControlName="target">
      <textarea formControlName="description" cols="30" rows="10"></textarea>

      <button type="submit" class="ui button">+ Add new</button>
  </form>
</div>

<div class="info">
  <router-outlet></router-outlet>
</div>
