<div *ngIf="todo && !authService.isAuth">
  <h1 [class.done]="todo.isDone">ID {{todo.id}}: {{todo.target}}</h1>
  <h4>Description:</h4>
  <p>{{todo.description}}</p>

  <button (click)="doneItem(todo)">DONE</button>
</div>

<div *ngIf="todo && authService.isAuth">
  <h2 *ngIf="!todo.isDone">Should to be done!</h2>
  <h1 [class.done]="todo.isDone">ID {{todo.id}}: {{todo.target}}</h1>

  <h4>Status:
      <div *ngIf="todo.isRemoved" style="display: inline">Removed</div><div *ngIf="!todo.isRemoved" style="display: inline">Exist</div>
  </h4>


  <h4>Info:</h4>
  <form [formGroup]="todoDetailsForm" (ngSubmit)="submitForm()">
    <p>
      <label for="target" style="margin-bottom: 10px; display: inline-block">Name:</label>
      <input  type="text"
              formControlName="target"
              id="target">
    </p>
    <p>
      <label for="description" style="margin-bottom: 10px; display: inline-block">Description:</label>
      <textarea formControlName="description"
                style="width: 100%; min-height: 40px;">
      </textarea>
    </p>

    <button type="submit">Save</button>
    <button (click)="removeItem()">Remove</button>
    <button (click)="doneItem()">DONE</button>

  </form>
</div>
