<div style="text-align:center">
    <h2>Todo list:</h2>
</div>

<ul>
    <li *ngFor="let toDo of todoList" [class.done]="toDo.isDone" (click)="goTotodo(toDo)">
        {{toDo.target}}
    </li>
</ul>

<!-- <form #newTodoform="ngForm" (ngSubmit)="submitForm(newTodoform)"> -->
    <input #input placeholder="What to do?" name="target">
    <textarea #text name="description" cols="30" rows="10"></textarea>

    <button (click)="onCl(input, text)" type="submit" class="ui button">Add new item!</button>
<!-- </form> -->
