<div class="auth" *ngIf="!authService.isAuth">
  <form action="" #authForm="ngForm" (ngSubmit)="submitForm(authForm)">
    <label for="login">Login (admin)</label>
    <input  #login
            ngModel
            type="text"
            name="login"
            id="login">
    <label for="pass">Password (admin)</label>
    <input  #password
            ngModel
            type="password"
            name="password"
            id="pass">
    <button type="submit" class="button">Sign in</button>
  </form>
</div>

<div class="auth" *ngIf="authService.isAuth">
  <button (click)="logOut()" class="wide">Sign out</button>
</div>
