<div class="auth" *ngIf="!authService.isAuth">
  <form [formGroup]="authForm" (ngSubmit)="submitForm()" novalidate>
    <label for="login">Login (admin)</label>
    <input type="text" formControlName="login">
    <label for="pass">Password (admin)</label>
    <input type="password" formControlName="pass">
    <button type="submit" [disabled]="authForm.invalid">Sign in</button>
  </form>
</div>

<div class="auth" *ngIf="authService.isAuth">
  <button (click)="logOut()" class="wide">Sign out</button>
</div>
